.review{
    font-family: 'Roboto Mono', monospace;
    max-width: 800px; /* Max width */
    padding-top: 10px;

    .heading{
        display: flex;
        // gap: 30px;
        align-items: center;
        padding-bottom: 10px;
        
        h1{
            padding-right: 30px;
        }

        .stars{
            display: flex;
            align-items: baseline;
        }

        h3{
            font-size: 15px;
            color: rgb(120, 120, 120);
            align-items:self-end;
        }
    }

    .row{
        padding-top: 10px;

        /* Three column layout */
        .side {
            float: left;
            width: 15%;
            margin-top:10px;
        }
        
        .middle {
            margin-top:10px;
            float: left;
            width: 70%;
        }
        
        /* Place text to the right */
        .right {
            text-align: right;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        
        /* The bar container */
        .bar-container {
            width: 100%;
            background-color: #f1f1f1;
            text-align: center;
            color: white;
        }
        
        /* Individual bars */
        .bar-5 {height: 18px; background-color: black;}
        .bar-4 {height: 18px; background-color: black;}
        .bar-3 {height: 18px; background-color: black;}
        .bar-2 {height: 18px; background-color: black;}
        .bar-1 {height: 18px; background-color: black;}
    }
      

}