.faq{
    margin: 0;
    padding: 0;
    box-sizing: 0;

    section{
        min-height: 100vh;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            position: absolute;
            opacity: 0;
            z-index: -1;
          }
          
        .tabs{
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 0px 0px -2px rgba(0,0,0,0.2);

            .tab {
                width: 100%;
                color: white;
                overflow: hidden;
                &-label {
                  display: flex;
                  justify-content: space-between;
                  padding: 1em;
                  background: rgb(30, 30, 30);
                  font-weight: bold;
                  cursor: pointer;
                  /* Icon */
                  &:hover {
                    background: lighten(rgb(30, 30, 30), 10%);
                  }
                  &::after {
                    content: "\276F";
                    width: 1em;
                    height: 1em;
                    text-align: center;
                    transition: all .35s;
                  }
                }
                &-content {
                  max-height: 0;
                  padding: 0 1em;
                  color: rgb(30, 30, 30);
                  background: white;
                  transition: all .35s;
                }
                &-close {
                  display: flex;
                  justify-content: flex-end;
                  padding: 1em;
                  font-size: 0.75em;
                  background: rgb(30, 30, 30);
                  cursor: pointer;
                  &:hover {
                    background: lighten(rgb(30, 30, 30), 10%);
                  }
                }
              }
    
              input:checked {
                + .tab-label {
                  background: darken(rgb(30, 30, 30), 10%);
                  &::after {
                    transform: rotate(90deg);
                  }
                }
                ~ .tab-content {
                  max-height: 100vh;
                  padding: 1em;
                }
              }
        }
        

        .title{
            font-size: 2.5rem;
            margin: 2rem 0rem;
        }

        .faqs{
            max-width: 700px;
            margin-top: 2rem;
            padding-bottom: 1rem;
            border-bottom: 2px solid white;
            cursor: pointer;

            .question{
                display: flex;
                justify-content: space-between;
                align-items: center;

                h3{
                    font-size: 1.8rem;

                }
            }

            .answer{
                max-height: 0;
                overflow: hidden;

                p{
                  padding-top: 1rem;
                  line-height: 1.6 black;
                  font-size: 1rem;  
                  color: black;
                }
            }

            hr{
                margin-top: 1.6rem;
                width: 100%;
                border: 1.5px solid black;
            }

            .faqs.active .answer{
                max-height: 300px;
            }
        }
    }
}