.app{
    .link{
        color: inherit;
        text-decoration: none;
        font-family: 'Roboto Mono', monospace;
    }

    body{
        font-family: 'Roboto Mono', monospace;
    }

    span{
        // font-family: 'Space Mono', monospace;
        font-family: 'Roboto Mono', monospace;
        // font-family: 'Nunito Sans', sans-serif;
    }

    p{
        // font-family: 'Space Mono', monospace;
        font-family: 'Roboto Mono', monospace;
        // font-family: 'Nunito Sans', sans-serif;
    }

    h1{
        font-family: 'Roboto Mono', monospace;
        font-weight: bold;
    }

    h2{
        font-family: 'Roboto Mono', monospace;
    }

    h3{
        font-family: 'Roboto Mono', monospace;
    }

    button{
        font-family: 'Roboto Mono', monospace;
    }
}