.signupContainer{

    .signup{
        // padding-bottom: 50px;
        margin-bottom: 83px;

        .signupButton{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin: 15px 0px 15px 0px;
            padding: 10px 10px;
            background-color: black;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover{
                transition: 0.5s;
                background-color: rgb(110, 110, 110);
            }
        }
    }
    
}