.footer{

    margin: 100px 150px 20px 150px;
    // margin: 100px 200px 20px 200px;

    .top{
        display: flex;
        gap: 50px;

        .item{
            // This flex element is used to create the same sizing for each H1 item.
            flex: 1; 
            display: flex;

            // Flex direction is used to flex the items vertically and the gap between item vertically is 10px.
            flex-direction: column;
            gap: 10px;

            text-align: justify;
            font-size: 14px;

            h1 {
                font-size: 18px;
                font-weight: 500;
                color: #555;
            }

            span{
                color: gray;
            }

        }

    }

    .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;

        .left{
            display: flex;
            align-items: center;

            .logo{
                color: black;
                font-weight: bold; 
                font-size: 25px;
            }

            .copyright{
                margin-left: 20px;
                font-size: 12px;
                color: gray;
            }
        }

        .right{
            img{
                height: 45px;
            }
        }
    }

}