.launchingSoon{
    overscroll-behavior: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: black;
    height: 300vh;
    width: 100%;

    .milliondollarposters{
        font-size: 6vw;
        color: white;
        font-weight: bold;
    }

    .copyright{
        font-size: 1vw;
        color: white;
    }

    .scroll{
        margin-top: 100px;
        font-size: 10px;
        color: white;
    }

    .launch{
        font-size: 50px;
        color: white;
        font-weight: bold;
    }

    .social{
        margin-top: 30px;

        a{
            z-index: 1;
            color: white;
            align-items: center;
            justify-content: center;
            margin: 0px 10px 10px 10px;
            cursor: pointer;
        }
    }

    .newsletter{
        // display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;

        .newsletterH1{
            text-align: center;
            font-size: 50px;
            color: white;
        }

        .nameInput{
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            width: 20%;
            border: 2px solid rgba(0, 0, 0, 0);
            color: rgb(20, 20, 20);
            outline: none;
            background-color: rgba(230, 230, 230, 0.6);
            padding: 0.5rem 1rem 0.5rem 1rem;
            font-size: 1rem;
            margin-bottom: 0px;
            transition: .3s;
            border-radius: 5px;
        }

        .emailInput{
            margin-top: 10px;
            width: 20%;
            border: 2px solid rgba(0, 0, 0, 0);
            color: rgb(20, 20, 20);
            outline: none;
            background-color: rgba(230, 230, 230, 0.6);
            padding: 0.5rem 1rem;
            font-size: 1rem;
            margin-bottom: 10px;
            transition: .3s;
            border-radius: 5px;
        }

        .btn{
            width: 10%;
            padding: 0.5rem 1rem;
            margin: 1rem;
            background-color: rgba(255, 255, 255, 0.6);
            color: rgb(20, 20, 20);
            font-size: 1.1rem;
            border: none;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
            align-items: center;
            justify-content: flex-end;

            &:hover{
                transition: 0.5s;
                background-color: rgb(200, 200, 200, 0.6);
            }
        }

        .testing{
            color: white;
            font-size: 30px;
        }
    }

    .test{
        color: white;
        font-size: 500px;
    }
}