.dpCard{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .image{
        width: 3.14in;
        height: 4in;
        overflow: hidden;
        position: relative;
        border-radius: 10px;

        &:hover{
            .secondImg{
                z-index: 2;
            }
        }
     
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute; // Whenever position is absolute for the child, the parent must have position relative.
        }

        .mainImg{
            z-index: 1;
        }

        span{
            position: absolute;
            top: 8px;
            left: 8px;
            background-color: white;
            color: black;
            padding: 3px 5px;
            z-index: 3; // So the span would top the images.
            font-weight: 500;
            font-size: 12px;
            border-radius: 5px;
        }
    }

    h2{
        font-size: 16px;
        font-weight: bold;
    }

    h3{
        font-size: 10px;
        font-weight: 200;
    }

    .rating{
        display: flex;
        align-items: center;
        font-size: 10px;

        .numRatings{
            font-size: 10px;
            color: gray;
        }
    }

    .prices{
        display: flex;
        gap: 20px;
        margin-top: 0px;

        h3{
            font-size: 15px;
            font-weight: 500;

        //     &:first-child{
        //         color: rgb(161, 161, 161);
        //         text-decoration: line-through;
        //     }
        }
        .oldPrice{
            font-size: 15px;
            font-weight: 500;

            color: rgb(161, 161, 161);
            text-decoration: line-through;
        }
    }
}