.aboutUs{
    // display: flex;

    img{
        width: 100%;
        object-fit: cover;
        box-shadow: 0px 15px 30px gray;
    }

    .services{
        width: 100%;
        padding: 20px 0px;

        .title{
            display: flex;
            padding-top: 30px;
            text-align: center;
            justify-content: center;
    
            h1{
                font-size: 35px;
            }
        }

        hr{
            margin: 20px 0px 0px 0px;
            width: 20%;
            border: 3px solid black;
            border-radius: 5px;
            margin-left: auto;
            margin-right: auto;
        }

        .servicesArea{
            display: flex;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-content: center;
            gap: 3vw;

            .box{
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 400px;

                i{
                    font-size: 60px;
                }

                h2{
                    font-size: 20px;
                }

                .pra{
                    font-size: 13px;
                }
            }
        }
    }

    .aboutUsText{
        margin: 30px 110px 30px 110px;

        h1{
            margin: 20px 0px 20px 0px;
        }
    }
}